In [40]:
import pandas as pd

In [41]:
df = pd.read_csv('raw_data.csv')

In [48]:
print(df[df['price'].isna()])

       zip_code          commune         province  type_of_property  \
561        8500         Kortrijk  West-Vlaanderen                 0
2884       6700         Toernich       Luxembourg                 0
3354       9300            Aalst  Oost-Vlaanderen                 0
3911       8540         Deerlijk  West-Vlaanderen                 0
4385       6200      Châtelineau          Hainaut                 0
4670       6791            Athus       Luxembourg                 0
4945       2500             Lier        Antwerpen                 0
4980       6000        Charleroi          Hainaut                 0
5556       1030       Schaerbeek        Bruxelles                 0
6575       7500          Tournai          Hainaut                 0
7311       8370         Uitkerke  West-Vlaanderen                 0
12305      4000          Rocourt            Liège                 0
16965      9620         Zottegem  Oost-Vlaanderen                 1
17475      6230        Viesville          Hainaut                 1
17962      9420          Vlekkem  Oost-Vlaanderen                 1
18694      1070       Anderlecht        Bruxelles                 1
18911      6700         Toernich       Luxembourg                 1
18912      6700         Toernich       Luxembourg                 1
20150      5660      Escanaffles          Hainaut                 1
20390      9000             Gent  Oost-Vlaanderen                 1
20870      9050         Ledeberg  Oost-Vlaanderen                 1
20871      9050         Ledeberg  Oost-Vlaanderen                 1
20872      9050         Ledeberg  Oost-Vlaanderen                 1
20873      9050         Ledeberg  Oost-Vlaanderen                 1
20877      9050         Ledeberg  Oost-Vlaanderen                 1
21242      6791            Athus       Luxembourg                 1
21268      8587           Spiere  West-Vlaanderen                 1
22535      6741            Vance       Luxembourg                 1
22586      7750      Russeignies          Hainaut                 1
22941      6060            Gilly          Hainaut                 1
23040      6880            Orgeo       Luxembourg                 1
23126      2580            Putte        Antwerpen                 1
23466      4190           Xhoris            Liège                 1
23785      6971         Champlon       Luxembourg                 1
24207      6460  Villers-la-Tour          Hainaut                 1
24252      4802            Heusy            Liège                 1

      subtype_of_property  price building_condition  facade_number  \
561             apartment    NaN                NaN            NaN
2884            apartment    NaN               good            2.0
3354            apartment    NaN                NaN            NaN
3911            apartment    NaN               good            NaN
4385            apartment    NaN               good            2.0
4670            apartment    NaN                NaN            2.0
4945         ground floor    NaN                NaN            2.0
4980            apartment    NaN               good            2.0
5556            apartment    NaN      to be done up            NaN
6575            apartment    NaN             as new            NaN
7311            apartment    NaN               good            NaN
12305   ground floor unit    NaN                NaN            NaN
16965               house    NaN               good            NaN
17475               house    NaN         to restore            4.0
17962               house    NaN               good            3.0
18694               house    NaN      to be done up            NaN
18911               villa    NaN               good            4.0
18912               house    NaN               good            4.0
20150               villa    NaN             as new            4.0
20390               house    NaN        to renovate            NaN
20870               house    NaN        to renovate            NaN
20871               house    NaN        to renovate            NaN
20872               house    NaN        to renovate            NaN
20873               house    NaN        to renovate            NaN
20877               house    NaN        to renovate            NaN
21242               house    NaN        to renovate            3.0
21268               house    NaN      to be done up            NaN
22535               house    NaN        to renovate            3.0
22586               house    NaN               good            NaN
22941               house    NaN               good            3.0
23040               house    NaN             as new            4.0
23126               house    NaN             as new            4.0
23466               house    NaN                NaN            4.0
23785              chalet    NaN                NaN            4.0
24207               house    NaN        to renovate            2.0
24252            bungalow    NaN      to be done up            4.0

       living_area equipped_kitchen  bedroom_nr  swimming_pool  furnished  \
561            214   hyper equipped           4              0          0
2884           107        installed           2              0          0
3354            65    semi equipped           1              0          0
3911            73        installed           1              0          0
4385            77    semi equipped           1              0          0
4670            75                0           2              0          0
4945            71        installed           1              0          0
4980            77    semi equipped           1              0          0
5556           109                0           2              0          0
6575            90   hyper equipped           2              0          0
7311            67                0           1              0          0
12305           90                0           2              0          0
16965          231                0           2              0          0
17475          183    semi equipped           4              0          0
17962          288   hyper equipped           5              0          0
18694          120    semi equipped           3              0          0
18911          344        installed           7              0          0
18912          344        installed           7              0          0
20150          193                0           4              0          0
20390           90                0           3              0          0
20870           90                0           3              0          0
20871           90                0           3              0          0
20872           90                0           3              0          0
20873           90                0           3              0          0
20877          110                0           3              0          0
21242          103    semi equipped           2              0          0
21268          200        installed           2              0          0
22535          387    semi equipped           3              0          0
22586          134        installed           3              0          0
22941          143    semi equipped           3              0          0
23040          122        installed           3              0          0
23126          153                0           3              0          0
23466          175                0           3              1          0
23785           63                0           2              0          0
24207          300                0           6              0          0
24252          131        installed           3              0          0

       open_fire  terrace  garden  plot_surface
561            0        1       0             0
2884           0        1       0             0
3354           0        8       0             0
3911           0        1       0             0
4385           0        0      70             0
4670           0       15       0             0
4945           0       17       0             0
4980           0        0      70             0
5556           0        3       0             0
6575           0        1       0             0
7311           0        1       0             0
12305          0        0      56             0
16965          0        0       0           505
17475          0        1      83           370
17962          0        0       0          1600
18694          0        0       0           102
18911          0        1       0          3451
18912          0       77       0          3451
20150          0        0       0          2008
20390          0        1       0            45
20870          0        1       0            45
20871          0        1       0            45
20872          0        1       0            45
20873          0        1       0            45
20877          0        1       0            45
21242          0       18       0           170
21268          0        0     651           651
22535          0        0       0           427
22586          0        1       0           878
22941          0        1       0             0
23040          0        1       0          1526
23126          0        1       0           611
23466          0       36     987           987
23785          0        0       0          1250
24207          0        0       0           100
24252          0       12     150           375

In [51]:
print(df.price.isna().sum())
print(dfc.price.isna().sum())

dfc = df.dropna(subset=['price'], how='all')
dfc.reset_index(inplace=True)

36
0

In [ ]:
dfc.drop(['index'], axis=1, inplace=True)
print(dfc)
#

In [58]:
dfc.to_csv('cleaned-data.csv', index=False)