In [1]:
import pandas as pd

In [26]:
df = pd.read_csv('../cleaned-data.csv')

In [31]:
df.head()

,zip_code,commune,province,type_of_property,subtype_of_property,price,building_condition,facade_number,living_area,equipped_kitchen,bedroom_nr,swimming_pool,furnished,open_fire,terrace,garden,plot_surface,sub_property_group_encoded
0,2600,Berchem,Antwerpen,0,apartment,149000.0,good,2.0,48,installed,1,0,0,0,9,0,0,apartments
1,2100,Deurne,Antwerpen,0,apartment,248000.0,good,2.0,91,installed,3,0,0,0,2,0,0,apartments
2,2660,Hoboken,Antwerpen,0,apartment,229000.0,good,2.0,100,not installed,3,0,0,0,26,0,0,apartments
3,1180,Uccle,Bruxelles,0,apartment,470000.0,good,2.0,179,equipped,3,0,0,0,10,0,0,apartments
4,2018,Antwerpen,Antwerpen,0,apartment,480000.0,good,2.0,116,installed,2,0,0,0,7,0,0,apartments

In [62]:
print(df.facade_number.value_counts(dropna=False))

facade_number
NaN     9345
2.0     8795
4.0     4178
3.0     3733
1.0       54
6.0        3
5.0        2
15.0       1
Name: count, dtype: int64

In [61]:
print(df.swimming_pool.value_counts(dropna=False))
print(df.open_fire.value_counts(dropna=False))
print(df.furnished.value_counts(dropna=False))

swimming_pool
0    25604
1      507
Name: count, dtype: int64
open_fire
0    25916
1      195
Name: count, dtype: int64
furnished
0    25272
1      839
Name: count, dtype: int64

In [30]:
print(df.subtype_of_property.value_counts(dropna=False))

subtype_of_property
apartment               12508
house                    8039
villa                     895
ground floor              749
penthouse                 685
flat studio               661
duplex                    585
mixed use building        358
kot                       323
apartment block           319
exceptional property      158
service flat              156
mansion                   148
loft                      113
town house                102
country cottage            92
bungalow                   91
triplex                    51
farmhouse                  38
manor house                12
chalet                     12
castle                      9
other property              2
Name: count, dtype: int64

In [36]:
df_namur = pd.read_excel('zipcodes_prov_fr_edited.xlsx', sheet_name=6)

In [38]:
df_namur.head()

   Code postal       Localité
0         5000           Beez
1         5000          Namur
2         5001       Belgrade
3         5002  Saint-Servais
4         5003     Saint-Marc

In [11]:
print(df.terrace.value_counts(dropna=False))

terrace
0      7130
1      5299
10      920
8       699
6       662
       ...
168       1
285       1
134       1
96        1
166       1
Name: count, Length: 199, dtype: int64

In [29]:
#sub_property_group_encoded
print(df.sub_property_group_encoded.value_counts(dropna=False))

sub_property_group_encoded
apartments           15039
houses                8868
luxury_properties     1222
other                  835
rural                  142
Name: count, dtype: int64

In [35]:
print(df.equipped_kitchen.value_counts(dropna=False))
#not installed, installed, equipped

equipped_kitchen
not installed    10121
equipped          8248
installed         7737
Name: count, dtype: int64

In [ ]:
# Antwerpen, Limburg, Oost-Vlaanderen, Vlaams Brabant, West-Vlaanderen
# Brabant Wallon, Hainaut, Liège, Luxembourg

In [34]:
(df.price.groupby(df.province).describe())

,count,mean,std,min,25%,50%,75%,max
province,,,,,,,,
Antwerpen,3192.0,448171.021930,327313.622967,105000.0,285000.0,367500.0,485441.25,4385000.0
Brabant Wallon,980.0,493624.165306,358350.473920,125000.0,325000.0,409500.0,517750.00,4500000.0
Bruxelles,5123.0,516521.420066,410097.983131,99000.0,289000.0,406000.0,615000.00,5500000.0
Hainaut,2149.0,291752.175896,171552.518988,35000.0,215000.0,270000.0,329000.00,4500000.0
Limburg,480.0,382702.575000,210838.654365,98000.0,279375.0,333800.0,408318.00,2150000.0
Liège,2143.0,289052.997200,176688.651114,40000.0,188000.0,250000.0,339000.00,2200000.0
Luxembourg,930.0,329748.145161,174024.518400,27500.0,235000.0,294900.0,386625.00,1790000.0
Oost-Vlaanderen,4353.0,420433.703193,265089.464950,79500.0,289000.0,375000.0,457500.00,4450000.0
Vlaams Brabant,1796.0,496249.076281,324114.874966,79000.0,303250.0,406308.5,579940.75,3140000.0
West-Vlaanderen,4960.0,598714.392742,733994.923220,49900.0,269000.0,364000.0,595000.00,8900000.0

In [67]:
df[df.price >= 2000000].count()

zip_code               311
commune                311
province               311
type_of_property       311
subtype_of_property    311
price                  311
building_condition     311
facade_number          224
living_area            311
equipped_kitchen       311
bedroom_nr             311
swimming_pool          311
furnished              311
open_fire              311
terrace                311
garden                 311
plot_surface           311
dtype: int64

In [63]:
print(df.building_condition.value_counts(dropna=False))
# -1 = to restore, 0 = to renovate, done up, 1 = no info, 2 = good

building_condition
good           16423
no info         6683
to renovate     2940
to restore        65
Name: count, dtype: int64

In [ ]:
df.loc[(df['building_condition'] == 'as new') | (df['building_condition'] == 'just renovated'), ['building_condition']] = 'good'
df.loc[df['building_condition'] == 'to be done up', ['building_condition']] = 'to renovate'
df.loc[df['building_condition'].isna(), ['building_condition']] = 'no info'

In [46]:
df.to_csv('cleaned-data.csv', index=False)