In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../cleaned-data.csv')

In [3]:
df.head()

,zip_code,commune,province,type_of_property,subtype_of_property,price,building_condition,facade_number,living_area,equipped_kitchen,bedroom_nr,swimming_pool,furnished,open_fire,terrace,garden,plot_surface
0,2600,Berchem,Antwerpen,0,apartment,149000.0,good,NaN,48,installed,1,0,0,0,9,0,0
1,2100,Deurne,Antwerpen,0,apartment,248000.0,good,NaN,91,installed,3,0,0,0,2,0,0
2,2660,Hoboken,Antwerpen,0,apartment,229000.0,as new,2.0,100,0,3,0,0,0,26,0,0
3,1180,Uccle,Bruxelles,0,apartment,470000.0,good,2.0,179,hyper equipped,3,0,0,0,10,0,0
4,2018,Antwerpen,Antwerpen,0,apartment,480000.0,just renovated,2.0,116,installed,2,0,0,0,7,0,0

In [ ]:
print(df.facade_number.value_counts(dropna=False))

facade_number
NaN     9345
2.0     8795
4.0     4178
3.0     3733
1.0       54
6.0        3
5.0        2
15.0       1
Name: count, dtype: int64

In [ ]:
print(df.building_condition.value_counts(dropna=False))
# -1 = to restore, 0 = to renovate, done up, 1 = no info, 2 = good

building_condition
good              8218
as new            7057
NaN               6683
to renovate       1568
to be done up     1372
just renovated    1148
to restore          65
Name: count, dtype: int64

In [12]:
print(df.swimming_pool.value_counts(dropna=False))
print(df.open_fire.value_counts(dropna=False))
print(df.furnished.value_counts(dropna=False))

swimming_pool
0    25604
1      507
Name: count, dtype: int64
open_fire
0    25916
1      195
Name: count, dtype: int64
furnished
0    25272
1      839
Name: count, dtype: int64

In [13]:
print(df.subtype_of_property.value_counts(dropna=False))

subtype_of_property
apartment                  6374
house                      6293
apartment unit             6134
house unit                 1746
villa                       862
duplex                      437
penthouse                   389
ground floor                388
ground floor unit           361
mixed use building          357
flat studio unit            346
apartment block             320
flat studio                 315
penthouse unit              296
kot unit                    276
exceptional property        160
mansion                     149
duplex unit                 148
service flat                 98
town house                   97
country cottage              92
bungalow                     91
loft                         76
service flat unit            58
triplex                      49
kot                          47
farmhouse                    38
loft unit                    37
villa unit                   33
manor house                  12
chalet                       12
castle                        9
town house unit               5
triplex unit                  2
other property                2
mixed use building unit       2
Name: count, dtype: int64

In [11]:
print(df.terrace.value_counts(dropna=False))

terrace
0      7130
1      5299
10      920
8       699
6       662
       ...
168       1
285       1
134       1
96        1
166       1
Name: count, Length: 199, dtype: int64

In [14]:
df.duplicated().sum()

1281

In [7]:
print(df.equipped_kitchen.value_counts(dropna=False))
#not installed, installed, equipped

equipped_kitchen
0                     9261
installed             7739
hyper equipped        5786
semi equipped         1999
not installed          852
usa hyper equipped     278
usa installed          167
usa semi equipped       19
usa uninstalled         10
Name: count, dtype: int64

In [21]:
df.loc[df['equipped_kitchen'] == '0', ['equipped_kitchen']] = 'not installed'
df.loc[df['equipped_kitchen'] == 'usa uninstalled', ['equipped_kitchen']] = 'not installed'

In [24]:
df.loc[(df['equipped_kitchen'] != 'installed') & (df['equipped_kitchen'] != 'not installed'), ['equipped_kitchen']] = 'equipped'

In [25]:
print(df.equipped_kitchen.value_counts(dropna=False))

equipped_kitchen
not installed    10123
equipped          8249
installed         7739
Name: count, dtype: int64

In [27]:
df.to_csv('cleaned-data.csv', index=False)